{{#partial "content"}}
    <div class="row">
        <div class="col-md-4">
            <img src="/images/COVID_CampaignImage_3.jpg" width="350" height="350"><br>
            <a href="/Rangers/new">Add new Rangers</a>
        </div>
        <div class="col-md-4">
            <img src="/images/eec45170d1861999f671aae3abeacf74.jpg" width="350" height="350"><br>
            <a href="/sightings/new">Add new Sightings</a>
        </div>
        <div class="col-md-4">
            <img src="/images/unnamed.jpg" width="350" height="350"><br>
            <a href="/Animals/Add new Endangered animals">Add new Animals</a>
        </div>
    </div>
{{/partial}}
{{> layout.hbs}}