{{#partial content}}
<div class="jumbotron">
    <form action="/rangers" method="post">
        <div class="form-group">
            <label for="Name"> Rangers Name
                <input type="text" name="Name">
            </label>
        </div>
        <div class="form-group">
            <label for="phone"> phone number
                <input type="text" name="phone">
            </label>
        </div>
        <div class="form-group">
            <label for="Email">Email Address
                <input type="text" name="Email">
            </label>
        </div>
        <button type="submit"class="btn btn-success">Submit form</button>
    </form>
</div>
{{/partial}}
{{>layout.hbs}}