{{#partial "content"}}
    <div class="jumbotron">
    <form action="/sightings" method="post">
        <div class="form-group">
            <label for="Animal_id">Animal id</label>
            <input type="number" id="Animal_id" name="Animal_id">
        </div>
        <div class="form-group">
            <label for="rangers_id">rangers_id</label>
            <input type="number" name="rangers_id">
        </div>
        <div class="form-group">
            <label for="location_id">location_id</label>
            <input type="number" name="location_id">
        </div>
        <div class="form-group">
            <label for="Report">Brief report</label>
            <textarea id="Report" name="Report"> </textarea>
        </div>
        <button class="btn btn-success" type="submit">Add</button>
    </form>
    </div>
{{/partial}}
{{> layout.hbs}}